In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
%matplotlib inline

In [7]:
iris = datasets.load_iris()

In [10]:
from sklearn import tree

In [14]:
clf = tree.DecisionTreeClassifier()
clf.fit(iris.data, iris.target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [18]:
clf.score(iris.data, iris.target)

1.0

In [19]:
from sklearn import cross_validation

In [30]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(iris.data, iris.target, train_size=0.5, random_state = 0)

In [31]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train, y_train)
prediction = clf.predict(x_test)

In [78]:
clf.score(x_test, y_test)

0.95999999999999996

In [89]:
data = pd.read_csv('https://raw.githubusercontent.com/galvin-mj/DAT_ATL_15/master/Datasets/titanic_train.csv')

In [90]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [91]:
y_titanic = np.array(data['Survived'])
x_titanic = data[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]

In [92]:
x_titanic.head()

   Pclass     Sex  Age  SibSp  Parch     Fare Cabin Embarked
0       3    male   22      1      0   7.2500   NaN        S
1       1  female   38      1      0  71.2833   C85        C
2       3  female   26      0      0   7.9250   NaN        S
3       1  female   35      1      0  53.1000  C123        S
4       3    male   35      0      0   8.0500   NaN        S

In [93]:
float(len(x_titanic)-(x_titanic['Cabin'].count()))/len(x_titanic['Cabin'])

##look at not null method, isna method

0.7710437710437711

In [94]:
del x_titanic['Cabin']

In [95]:
x_titanic['Sex'] = x_titanic.Sex.map({'female': 0, 'male': 1})

/Users/ericalonas/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [98]:
x_titanic.Age.fillna(x_titanic.Age.median(), inplace=True)
x_titanic = pd.get_dummies(x_titanic, columns=['Embarked'])

In [99]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x_titanic, y_titanic, train_size=0.5)

In [106]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train, y_train)
prediction = clf.predict(x_test)
print clf.score(x_test, y_test)
print clf.score(x_train, y_train)

0.764573991031
0.986516853933