In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
data = pd.read_csv('~/Downloads/smsspamcollection/SMSSpamCollection', sep = '\t', header=None)

In [36]:
data.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [37]:
data['label'] = data[0]

In [38]:
del data[0]

In [39]:
data.head()

                                                   1 label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [40]:
data['message'] = data[1]

In [41]:
del data[1]

In [42]:
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [51]:
data.label.value_counts()

ham     4825
spam     747
dtype: int64

In [55]:
data['label'] = data.label.map({'ham' : 0, 'spam' : 1})

In [90]:
from sklearn.feature_extraction.text import CountVectorizer

messages = data['message']
count_vec = CountVectorizer()
count_vec.fit(np.array(messages))
word_count = count_vec.transform(messages).toarray()

In [92]:
from sklearn import cross_validation

x_train, x_test, y_train, y_test = cross_validation.train_test_split(word_count,data.label, random_state=0)

In [95]:
from sklearn import naive_bayes
model = naive_bayes.MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [103]:
prediction = model.predict(x_test)
1.0*sum(prediction == y_test)/len(prediction)

0.9813352476669059

In [97]:
from sklearn import metrics

In [101]:
metrics.mean_squared_error(y_test, prediction)

0.018664752333094042