In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df = pd.read_csv('https://raw.githubusercontent.com/galvin-mj/DAT_ATL_15/master/Datasets/LendingClubData.csv')

In [15]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)', 'Default', nan,
       'Does not meet the credit policy.  Status:Current',
       'Does not meet the credit policy.  Status:Charged Off',
       'Does not meet the credit policy.  Status:Fully Paid'], dtype=object)

In [16]:
good = ['Fully Paid','Current']
bad = ['Charged Off','Late (31-120 days)','Late (16-30 days)','Default']

In [17]:
month = [i if type(i) == float else i[:-5] for i in df['issue_d']]
year = [i if type(i) == float else float(i[-4:]) for i in df['issue_d']]
revol_util = [i if type(i) == float else float(i[:-1]) for i in df['revol_util']]

In [22]:
df['month'] = month
df['year'] = year
df['revol_util'] = revol_util

label = [1 if i in bad else 0 if i in good else -1 for i in df['loan_status'] ]
df['label'] = label

In [23]:
tmp = df[(df['label'] == 0) | (df['label'] == 1)]
dataset = tmp[tmp['year'] < 2012]

In [24]:
dataset.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,label,month,year
0,0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,...,Jan-2015,0,NaN,1,INDIVIDUAL,NaN,NaN,0,Dec,2011
1,1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,...,Sep-2013,0,NaN,1,INDIVIDUAL,NaN,NaN,1,Dec,2011
2,2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,...,Oct-2015,0,NaN,1,INDIVIDUAL,NaN,NaN,0,Dec,2011
3,3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,...,Jan-2015,0,NaN,1,INDIVIDUAL,NaN,NaN,0,Dec,2011
4,4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,...,Oct-2015,0,NaN,1,INDIVIDUAL,NaN,NaN,0,Dec,2011

In [25]:
dataset[['emp_length', 'home_ownership','earliest_cr_line']]

dataset['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', 'n/a'], dtype=object)

In [27]:
dataset['year']

0        2011
1        2011
2        2011
3        2011
4        2011
5        2011
6        2011
7        2011
8        2011
9        2011
10       2011
11       2011
12       2011
13       2011
14       2011
15       2011
16       2011
17       2011
18       2011
19       2011
20       2011
21       2011
22       2011
23       2011
24       2011
25       2011
26       2011
27       2011
28       2011
29       2011
         ...
39756    2007
39757    2007
39758    2007
39759    2007
39760    2007
39761    2007
39762    2007
39763    2007
39764    2007
39765    2007
39766    2007
39767    2007
39768    2007
39769    2007
39770    2007
39771    2007
39772    2007
39773    2007
39774    2007
39775    2007
39776    2007
39777    2007
39778    2007
39779    2007
39780    2007
39781    2007
39782    2007
39783    2007
39784    2007
39785    2007
Name: year, dtype: float64