In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import NFL_api
import time
import pickle

In [126]:
f= open('player_def_2015_1-8.pickle')
player_stat = pickle.load(f)
f.close()

g=open('team_def_2015_1-8.pickle')
team_stat = pickle.load(g)
g.close()

h=open('injuries_2015_1-8.pickle')
injuries_df = pickle.load(h)
h.close()

In [127]:
player_stat.columns

Index([       u'game_id',      u'scheduled',            u'ast',
                   u'bk',           u'comb',      u'force_fum',
              u'fum_rec',         u'fum_td',             u'id',
                  u'int',         u'int_lg',         u'int_td',
              u'int_yds',         u'jersey',         u'market',
             u'misc_ast',      u'misc_comb', u'misc_force_fum',
         u'misc_fum_rec',    u'misc_tackle',           u'name',
                   u'pd',       u'position',             u'qh',
                 u'sack',       u'sack_yds',           u'sfty',
             u'sfty_1pt',         u'sp_ast',        u'sp_comb',
         u'sp_force_fum',     u'sp_fum_rec',      u'sp_tackle',
               u'tackle',      u'team_name',          u'tlost',
             u'week_num',       u'year_num'],
      dtype='object')

In [128]:
player_stat.groupby(['name']).get_group('Erin Henderson')

,game_id,scheduled,ast,bk,comb,force_fum,fum_rec,fum_td,id,int,...,sp_ast,sp_comb,sp_force_fum,sp_fum_rec,sp_tackle,tackle,team_name,tlost,week_num,year_num
32,8e72ff56-7740-4fe4-b818-78344716abe0,2015-09-22T00:30:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,1,0,0,1,0,Jets,0,2,2015
4,8554df33-0c28-46bd-80ff-9abdf3fa8b96,2015-09-27T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,1,0,0,1,0,Jets,0,3,2015
6,f65cb36f-2f23-4ab5-9c6c-bab29678a6ad,2015-10-18T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,1,1,0,0,0,0,Jets,0,6,2015
19,fadd8069-5b74-4970-8149-592f28e30493,2015-10-25T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,1,0,0,1,0,Jets,0,7,2015
34,dff96fb5-52cc-4e8e-a155-e69d830b5e20,2015-11-01T21:05:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,4,0,0,4,0,Jets,0,8,2015

In [129]:
injuries_df.columns

Index([    u'description',         u'game_id',     u'game_status',
                    u'id',   u'jersey_number',          u'market',
                  u'name',       u'name_abbr',       u'name_full',
                 u'notes',          u'played',        u'position',
       u'practice_status',      u'start_date',         u'started',
                u'status',        u'week_num',        u'year_num'],
      dtype='object')

In [130]:
for player in player_stat['name']:
    for week in player_stat[player_stat['name']==player]['week_num']:
        if player_stat[(injury_df['name_full']==player)&(injury_df['week_num']==week+1):
            player_stat[(player_stat['name']==player)&(player_stat['week_num']==week)]['injured?'] = 1
        else:
            player_stat[(player_stat['name']==player)&(player_stat['week_num']==week)]['injured?'] = 0

SyntaxError: invalid syntax (<ipython-input-130-b966c7a5e47e>, line 4)

In [131]:
player_stat[(player_stat['name']=='Erin Henderson')&(player_stat['week_num']==6)]['injured?']=1

/Users/ericalonas/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [132]:
player_stat.reset_index(drop=True, inplace=True)

In [133]:


for i in player_stat.index:
    name = player_stat.ix[i, 'name']
    week = player_stat.ix[i, 'week_num']
    if (len(injuries_df[(injuries_df['name_full']==name) & (injuries_df['week_num']==week+1)]) > 0):
        player_stat.loc[i,'injured?']=1
    #elif((len(injuries_df[(injuries_df['name_full']==name) & (injuries_df['week_num']==week)]) > 0)):
        #player_stat.loc[i,'injured?']=2
    else:
        player_stat.loc[i,'injured?']=0

In [134]:
player_stat['injured?'].value_counts()

0    4225
1     572
dtype: int64

In [135]:
player_stat[['name','week_num', 'tackle','injured?']]

                    name  week_num  tackle  injured?
0          Geneo Grissom         1       0         0
1             Nate Ebner         1       0         0
2            Alan Branch         1       2         0
3            Matt Slater         1       0         0
4        Jonathan Freeny         1       0         0
5          Rob Ninkovich         1       3         0
6             Jerod Mayo         1       1         0
7         Rob Gronkowski         1       0         0
8         Devin McCourty         1       5         0
9           Tarell Brown         1       2         0
10         Jamie Collins         1       4         0
11         Patrick Chung         1       4         0
12        Malcolm Butler         1       3         0
13      Bradley Fletcher         1       5         0
14        Sealver Siliga         1       3         0
15          Duron Harmon         1       3         0
16         Jabaal Sheard         1       2         0
17      Dont'a Hightower         1       8         0
18        Chandler Jones         1       2         0
19          Malcom Brown         1       1         0
20        Vince Williams         1       0         0
21       Shamarko Thomas         1       1         0
22          Jarvis Jones         1       1         0
23        James Harrison         1       2         0
24    Alvin 'Bud' Dupree         1       2         0
25          Cortez Allen         1       5         1
26         Roosevelt Nix         1       0         0
27      Lawrence Timmons         1       3         0
28          Ryan Shazier         1       6         1
29      Daniel McCullers         1       1         0
...                  ...       ...     ...       ...
4767        Luke Kuechly         8      11         0
4768        Roman Harper         8      11         0
4769           Kony Ealy         8       2         0
4770          Ed Dickson         8       0         0
4771        Griff Whalen         8       0         0
4772       Zurlon Tipton         8       0         0
4773         Andrew Luck         8       0         0
4774         David Parry         8       3         0
4775           Joe Reitz         8       0         0
4776        Dwayne Allen         8       0         0
4777         Josh Thomas         8       0         0
4778          Mike Adams         8       7         0
4779          Pat McAfee         8       0         0
4780       Hugh Thornton         8       0         0
4781       Bjoern Werner         8       1         0
4782       Andre Johnson         8       0         0
4783         Erik Walden         8       1         0
4784       Colt Anderson         8       0         0
4785          Billy Winn         8       0         0
4786          Trent Cole         8       1         0
4787      Henry Anderson         8       2         0
4788          Greg Toler         8       7         0
4789       Dwight Lowery         8       4         0
4790        Vontae Davis         8       2         0
4791     Jerrell Freeman         8      11         0
4792     D'Qwell Jackson         8       4         0
4793    Kendall Langford         8       0         0
4794       Darius Butler         8       4         0
4795       Robert Mathis         8       3         0
4796        Coby Fleener         8       0         0

[4797 rows x 4 columns]

In [153]:
from sklearn.linear_model import LogisticRegressionCV
rgr = LogisticRegressionCV(cv=10)
rgr.fit(player_stat['tackle'].get_values().reshape(4797,1), player_stat['injured?'].get_values())

LogisticRegressionCV(Cs=10, class_weight=None, cv=10, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', refit=True,
           scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [199]:
from sklearn.metrics import confusion_matrix
rgr.predict(player_stat['tackle'].get_values().reshape(4797,1))

array([False, False, False, ..., False, False, False], dtype=bool)

In [12]:
pd.rolling_mean(player_stat['tackle'],2)

(4797,)

In [56]:
test = player_stat.groupby(['name']).get_group('Erin Henderson')['sp_comb'].cumsum()
player_stat.groupby(['name']).get_group('Erin Henderson').join(test, how='outer', rsuffix='_cum')


test2 = pd.rolling_mean(player_stat.groupby(['name']).get_group('Erin Henderson')['sp_comb'],3)
test2.name='sp_comb'
test2.fillna(0, inplace=True)
#player_stat.groupby(['name']).get_group('Erin Henderson').join(test2, how='outer', rsuffix='_ravg')

In [21]:
stat_list=['tackle']

groups = player_stat.groupby(['name'])

for player in player_stat.name:
    for stat in stat_list:
        group=groups.get_group(name)
        cum_sum = groups.get_group(player)[stat].cumsum()
        group.join(cum_sum, how='outer', rsuffix='_cum')
        roll_avg = pd.rolling_mean(groups.get_group(player)[stat],3)
        roll_avg.name = '%s_r_avg' %(stat)
        roll_avg.fillna(0,inplace=True)
        group.join(roll_avg, how='outer', rsuffix='_ravg')

groups.get_group('Erin Henderson')

,game_id,scheduled,ast,bk,comb,force_fum,fum_rec,fum_td,id,int,...,sp_comb,sp_force_fum,sp_fum_rec,sp_tackle,tackle,team_name,tlost,week_num,year_num,injured?
1242,8e72ff56-7740-4fe4-b818-78344716abe0,2015-09-22T00:30:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,1,0,0,1,0,Jets,0,2,2015,0
1566,8554df33-0c28-46bd-80ff-9abdf3fa8b96,2015-09-27T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,1,0,0,1,0,Jets,0,3,2015,0
3159,f65cb36f-2f23-4ab5-9c6c-bab29678a6ad,2015-10-18T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,1,0,0,0,0,Jets,0,6,2015,0
3913,fadd8069-5b74-4970-8149-592f28e30493,2015-10-25T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,1,0,0,1,0,Jets,0,7,2015,0
4669,dff96fb5-52cc-4e8e-a155-e69d830b5e20,2015-11-01T21:05:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,4,0,0,4,0,Jets,0,8,2015,0

In [125]:
grouped = player_stat.groupby(['name'])

f=lambda x: pd.rolling_mean(x,3)
print grouped['sp_comb'].transform(f).fillna(0)
a = player_stat.join(grouped['sp_comb'].transform(f), how='outer', rsuffix='_cum')
a.groupby(['name']).get_group('Erin Henderson')[['sp_comb','sp_comb_cum','injured?']]

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29    0.000000
        ...
19    0.000000
20    0.000000
21    0.000000
22    1.000000
23    0.000000
24    0.000000
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    0.000000
31    0.000000
32    0.000000
33    0.333333
34    0.000000
35    0.000000
36    1.000000
37    0.000000
38    0.000000
39    0.000000
40    0.000000
41    0.000000
42    0.000000
43    0.000000
44    0.000000
45    0.000000
46    0.000000
47    0.000000
48    0.000000
Name: sp_comb, dtype: float64

KeyError: "['injured?'] not in index"

In [136]:
stat_list=['tackle', 'sp_comb']

grouped = player_stat.groupby(['name'])
f=lambda x: pd.rolling_mean(x,3)

for stat in stat_list:
    player_stat = player_stat.join(grouped[stat].transform(np.cumsum), how='outer', rsuffix='_cum')
    player_stat= player_stat.join(grouped[stat].transform(f).fillna(0), how='outer', rsuffix='_ravg')

In [137]:
player_stat[player_stat['name']=='Erin Henderson']

,game_id,scheduled,ast,bk,comb,force_fum,fum_rec,fum_td,id,int,...,tackle,team_name,tlost,week_num,year_num,injured?,tackle_cum,tackle_ravg,sp_comb_cum,sp_comb_ravg
1242,8e72ff56-7740-4fe4-b818-78344716abe0,2015-09-22T00:30:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,Jets,0,2,2015,0,0,0,1,0
1566,8554df33-0c28-46bd-80ff-9abdf3fa8b96,2015-09-27T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,Jets,0,3,2015,0,0,0,2,0
3159,f65cb36f-2f23-4ab5-9c6c-bab29678a6ad,2015-10-18T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,Jets,0,6,2015,0,0,0,3,1
3913,fadd8069-5b74-4970-8149-592f28e30493,2015-10-25T17:00:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,Jets,0,7,2015,0,0,0,4,1
4669,dff96fb5-52cc-4e8e-a155-e69d830b5e20,2015-11-01T21:05:00+00:00,0,0,0,0,0,0,0612e146-6fa8-4770-a3a7-a142e46678cd,0,...,0,Jets,0,8,2015,0,0,0,8,2

In [138]:
player_stat=player_stat.join(pd.get_dummies(player_stat.position),how='outer')

In [194]:
X=player_stat[[
             u'sfty_1pt',         u'sp_ast',        u'sp_comb',
         u'sp_force_fum',     u'sp_fum_rec',      u'sp_tackle',
               u'tackle',
             u'week_num',       u'year_num',
           u'tackle_cum',    u'tackle_ravg',    u'sp_comb_cum',
         u'sp_comb_ravg',              u'C',             u'CB',
                   u'DB',             u'DE',             u'DT',
                   u'FB',             u'FS',              u'G',
                    u'K',             u'LB',             u'LS',
                  u'MLB',             u'NT',             u'OG',
                   u'OL',            u'OLB',             u'OT',
                    u'P',             u'QB',             u'RB',
                  u'SAF',             u'SS',              u'T',
                   u'TE',             u'WR']]
Y=player_stat['injured?']

In [195]:
from sklearn import cross_validation
x_train, x_test, y_train, y_test = cross_validation.train_test_split(X,Y)

In [196]:
from sklearn import tree
DT = tree.DecisionTreeClassifier()
DT.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [199]:
DT.score(x_test,y_test)
pred = DT.predict(x_test)

In [200]:
from sklearn import metrics
metrics.confusion_matrix(y_test, pred)

array([[951, 126],
       [102,  21]])